@keyframes links {
    0% {
        color: red;
    }
    50% {
        color: orange;
    }
    100% {
        color: purple;
    }
}

html {
    scroll-behavior: smooth;
    background-color: yellow;
}

article {
    margin: 20px;
}

a {
    text-decoration: none;
    animation: links 3s ease-in-out infinite;
}

article h2 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: auto;
    border: 2px solid black;
    background-color: whitesmoke;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header img {
    position: relative;
    top: 15px;
}

.header-info-secondary {
    font: italic bold 1em Arial;
}

.header-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.code pre code {
    overflow-x: hidden !important;
}
 
.projects {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;

}

.projects div {
    flex: 0 1 30%;
    border: 2px dashed black;
    text-align: center;
}


.article-video {
    text-align: center;
}

footer {
    background-color: grey;
}

.footer-links {
    text-align: center;
}

.footer-links li {
    display: inline;
    margin: 0 20px 0 20px;
}

.footer-data {
    float: right;
    margin: 0 30px 20px 0;
}

.no-BSUIR {
    text-decoration: line-through;
}
